In [2]:
import pandas as pd
import numpy as np

1. ¿Qué diferencia hay entre una Serie y un DataFrame?

2. Momento de trabajar con Series. Contesta a las siguientes preguntas:

Crea dos listas:

Una que se llame "valores" que tenga 7 números aleatorios.

Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [2]:
valores = [1,3,35,22,10,7,4]
indices = ['L','M','X','J','V','S','D']

A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

In [5]:
valor_indice= pd.Series(valores, index=indices)
valor_indice

L     1
M     3
X    35
J    22
V    10
S     7
D     4
dtype: int64

A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

In [15]:
diccionario = zip(valores,indices)
print(diccionario)

resultado = list(diccionario)
resultado

<zip object at 0x000002C75955BC40>

[(1, 'L'), (3, 'M'), (35, 'X'), (22, 'J'), (10, 'V'), (7, 'S'), (4, 'D')]

Crea una Serie con el diccionario creado en el punto anterior.

In [17]:
serie_dic = pd.Series(resultado)
serie_dic

0     (1, L)
1     (3, M)
2    (35, X)
3    (22, J)
4    (10, V)
5     (7, S)
6     (4, D)
dtype: object

¿Qué forma tiene esta última Serie?

In [18]:
serie_dic.shape

(7,)

¿Qué tipo de datos tiene?
Son tuplas

¿Qué tamaño tiene?

In [20]:
serie_dic.size

7

¿Cuáles son los índices de la Serie?

In [23]:
serie_dic.index

RangeIndex(start=0, stop=7, step=1)

¿Y los values?

In [24]:
serie_dic.values

array([(1, 'L'), (3, 'M'), (35, 'X'), (22, 'J'), (10, 'V'), (7, 'S'),
       (4, 'D')], dtype=object)

Extrae el valor para el índice "lunes"

In [29]:
valor_indice

L     1
M     3
X    35
J    22
V    10
S     7
D     4
dtype: int64

In [28]:
valor_indice['L']

np.int64(1)

Extrae el valor para el índice "lunes", "martes" y "miércoles".

In [30]:
valor_indice['L':'X']

L     1
M     3
X    35
dtype: int64

Extrae el valor para el índice "lunes" y "domingo".1.

In [32]:
valor_indice[['L','D']]

L    1
D    4
dtype: int64

In [33]:
valor_indice['L'], valor_indice['D']

(np.int64(1), np.int64(4))

3. Es el turno de los DataFrames

Crea un array de dos dimensiones con 4 filas y 3 columnas.

In [36]:
array =np.empty((4,3))
array

array([[1.50925635e-311, 3.16202013e-322, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 5.69516574e-038],
       [5.93302245e-038, 1.00357286e-042, 7.78643306e-071],
       [3.60424094e+175, 1.04851772e+165, 1.36313471e+161]])

Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [44]:
lista_paises = ['España','Francia','Italia']
df = pd.DataFrame(array, index=lista_paises)
df

ValueError: Shape of passed values is (4, 3), indices imply (3, 3)

In [45]:
lista_paises = ['España','Francia','Italia']
df = pd.DataFrame(array)
df

               0              1              2
0  1.509256e-311  3.162020e-322   0.000000e+00
1   0.000000e+00   0.000000e+00   5.695166e-38
2   5.933022e-38   1.003573e-42   7.786433e-71
3  3.604241e+175  1.048518e+165  1.363135e+161

In [48]:
df.columns = [lista_paises]
df

          España        Francia         Italia
0  1.509256e-311  3.162020e-322   0.000000e+00
1   0.000000e+00   0.000000e+00   5.695166e-38
2   5.933022e-38   1.003573e-42   7.786433e-71
3  3.604241e+175  1.048518e+165  1.363135e+161

Descarga el archivo "medallas" y carga el DataFrame.

In [3]:
df_medallas = pd.read_csv('medallas.csv',index_col=0)
df_medallas

               País   Oro  Plata  Bronce
1             China  1473    994     720
2             Japón  1032   1037     985
3     Corea del Sur   745    663     827
4              Irán   179    181     197
5        Kazajistán   155    158     224
6             India   154    202     315
7         Tailandia   132    175     278
8         Indonesia   112    131     240
9      China Taipéi    99    144     276
10  Corea del Norte    91    120     235


Usando el loc extrae todas las columnas de la fila de Tailandia.

Usando el loc extrae todas las columnas de China e Irán.

Usando el loc extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

Usando el iloc extrae la información de la India. Devolved todas las columnas.

Usando el iloc extrae todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".

Contesta a las siguientes preguntas:

¿Qué país consiguió más de 200 medallas de oro?

¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?

¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

Crea una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.