**Pair Group By y Apply**

Trabajamos con world_data_full.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv("datos/world_data_full.csv",index_col = 0)
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

**Ejercicios apply**
1. Las columnas land_area , armed_forces_size , co2-emissions , gdp ,
population , urban_population , latitude , longitude , density , cpi son
de tipo object pero en realidad deberían ser numéricas. Crea una función que
nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [10]:
lad_area_list = df["land_area"].values
lad_area_list

array(['652,230', '28,748', '2,381,741', '468', '1,246,700', '443',
       '2,780,400', '29,743', '7,741,220', '83,871', '86,600', '13,880',
       '765', '148,460', '430', '207,600', '30,528', '22,966', '112,622',
       '38,394', '1,098,581', '51,197', '581,730', '8,515,770', '5,765',
       '110,879', '274,200', '27,830', '322,463', '4,033', '181,035',
       '475,440', '9,984,670', '622,984', '1,284,000', '756,096',
       '9,596,960', '1,138,910', '2,235', '342,000', '51,100', '56,594',
       '110,860', '9,251', '78,867', '2,344,858', '43,094', '23,200',
       '751', '48,670', '283,561', '1,001,450', '21,041', '28,051',
       '117,600', '45,228', '17,364', '1,104,300', '18,274', '338,145',
       '643,801', '267,667', '11,300', '69,700', '357,022', '238,533',
       '131,957', '349', '108,889', '245,857', '36,125', '214,969',
       '27,750', '0', '112,090', '93,028', '103,000', '3,287,263',
       '1,904,569', '1,648,195', '438,317', '70,273', '20,770', '301,340',
       '10,991', '377,944', '89,342', '2,724,900', '580,367', '811',
       '17,818', '199,951', '236,800', '64,589', '10,400', '30,355',
       '111,369', '1,759,540', '160', '65,300', '2,586', '587,041',
       '118,484', '329,847', '298', '1,240,192', '316', '181',
       '1,030,700', '2,040', '1,964,375', '702', '33,851', '2',
       '1,564,116', '13,812', '446,550', '799,380', '676,578', '824,292',
       '21', '147,181', '41,543', '268,838', '130,370', '1,267,000',
       '923,768', '120,538', '25,713', '323,802', '309,500', '796,095',
       '459', nan, '75,420', '462,840', '406,752', '1,285,216', '300,000',
       '312,685', '92,212', '11,586', '238,391', '17,098,240', '26,338',
       '261', '616', '389', '2,831', '61', '964', '2,149,690', '196,722',
       '77,474', '455', '71,740', '716', '49,035', '20,273', '28,896',
       '637,657', '1,219,090', '99,720', '644,329', '505,370', '65,610',
       '1,861,484', '163,820', '450,295', '41,277', '185,180', '144,100',
       '947,300', '513,120', '14,874', '56,785', '747', '5,128',
       '163,610', '783,562', '488,100', '26', '241,038', '603,550',
       '83,600', '243,610', '9,833,517', '176,215', '447,400', '12,189',
       '912,050', '331,210', '527,968', '752,618', '390,757'],
      dtype=object)

In [14]:
numeric_mask = df["land_area"].str.isnumeric()
numeric_mask
#df_numeric = pd.to_numeric("lad_area_list")
#df_numeric

0      False
1      False
2      False
3       True
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: land_area, Length: 195, dtype: object

2. Crea una función para añadir una nueva columna llamada 'Continent' al
DataFrame para indicar a qué continente pertenece cada país.

In [18]:
paises_list = df["country"]
paises_lista = list(paises_list)
paises_lista

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'The Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Ivory Coast',
 'Cape Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Republic of the Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'The Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Vatican City',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Republic of Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Federated States of Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestinian National Authority',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'S�����������',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'East Timor',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [ ]:
paises_por_continente = {
    'Afghanistan': 'Asia',
    'Albania': 'Europa',
    'Algeria': 'África',
    'Andorra': 'Europa',
    'Angola': 'África',
    'Antigua and Barbuda': 'América',
    'Argentina': 'América',
    'Armenia': 'Asia',
    'Australia': 'Oceanía',
    'Austria': 'Europa',
    'Azerbaijan': 'Asia',
    'The Bahamas': 'América',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'América',
    'Belarus': 'Europa',
    'Belgium': 'Europa',
    'Belize': 'América',
    'Benin': 'África',
    'Bhutan': 'Asia',
    'Bolivia': 'América',
    'Bosnia and Herzegovina': 'Europa',
    'Botswana': 'África',
    'Brazil': 'América',
    'Brunei': 'Asia',
    'Bulgaria': 'Europa',
    'Burkina Faso': 'África',
    'Burundi': 'África',
    'Ivory Coast': 'África',
    'Cape Verde': 'África',
    'Cambodia': 'Asia',
    'Cameroon': 'África',
    'Canada': 'América',
    'Central African Republic': 'África',
    'Chad': 'África',
    'Chile': 'América',
    'China': 'Asia',
    'Colombia': 'América',
    'Comoros': 'África',
    'Republic of the Congo': 'África',
    'Costa Rica': 'América',
    'Croatia': 'Europa',
    'Cuba': 'América',
    'Cyprus': 'Asia',
    'Czech Republic': 'Europa',
    'Democratic Republic of the Congo': 'África',
    'Denmark': 'Europa',
    'Djibouti': 'África',
    'Dominica': 'América',
    'Dominican Republic': 'América',
    'Ecuador': 'América',
    'Egypt': 'África',
    'El Salvador': 'América',
    'Equatorial Guinea': 'África',
    'Eritrea': 'África',
    'Estonia': 'Europa',
    'Eswatini': 'África',
    'Ethiopia': 'África',
    'Fiji': 'Oceanía',
    'Finland': 'Europa',
    'France': 'Europa',
    'Gabon': 'África',
    'The Gambia': 'África',
    'Georgia': 'Asia',
    'Germany': 'Europa',
    'Ghana': 'África',
    'Greece': 'Europa',
    'Grenada': 'América',
    'Guatemala': 'América',
    'Guinea': 'África',
    'Guinea-Bissau': 'África',
    'Guyana': 'América',
    'Haiti': 'América',
    'Vatican City': 'Europa',
    'Honduras': 'América',
    'Hungary': 'Europa',
    'Iceland': 'Europa',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Republic of Ireland': 'Europa',
    'Israel': 'Asia',
    'Italy': 'Europa',
    'Jamaica': 'América',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'África',
    'Kiribati': 'Oceanía',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europa',
    'Lebanon': 'Asia',
    'Lesotho': 'África',
    'Liberia': 'África',
    'Libya': 'África',
    'Liechtenstein': 'Europa',
    'Lithuania': 'Europa',
    'Luxembourg': 'Europa',
    'Madagascar': 'África',
    'Malawi': 'África',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'África',
    'Malta': 'Europa',
    'Marshall Islands': 'Oceanía',
    'Mauritania': 'África',
    'Mauritius': 'África',
    'Mexico': 'América',
    'Federated States of Micronesia': 'Oceanía',
    'Moldova': 'Europa',
    'Monaco': 'Europa',
    'Mongolia': 'Asia',
    'Montenegro': 'Europa',
    'Morocco': 'África',
    'Mozambique': 'África',
    'Myanmar': 'Asia',
    'Namibia': 'África',
    'Nauru': 'Oceanía',
    'Nepal': 'Asia',
    'Netherlands': 'Europa',
    'New Zealand': 'Oceanía',
    'Nicaragua': 'América',
    'Niger': 'África',
    'Nigeria': 'África',
    'North Korea': 'Asia',
    'North Macedonia': 'Europa',
    'Norway': 'Europa',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceanía',
    'Palestinian National Authority': 'Asia',
    'Panama': 'América',
    'Papua New Guinea': 'Oceanía',
    'Paraguay': 'América',
    'Peru': 'América',
    'Philippines': 'Asia',
    'Poland': 'Europa',
    'Portugal': 'Europa',
    'Qatar': 'Asia',
    'Romania': 'Europa',
    'Russia': 'Europa',
    'Rwanda': 'África',
    'Saint Kitts and Nevis': 'América',
    'Saint Lucia': 'América',
    'Saint Vincent and the Grenadines': 'América',
    'Samoa': 'Oceanía',
    'San Marino': 'Europa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'África',
    'Serbia': 'Europa',
    'Seychelles': 'África',
    'Sierra Leone': 'África',
    'Singapore': 'Asia',
    'Slovakia': 'Europa',
    'Slovenia': 'Europa',
    'Solomon Islands': 'Oceanía',
    'Somalia': 'África',
    'South Africa': 'África',
    'South Korea': 'Asia',
    'South Sudan': 'África',
    'Spain': 'Europa',
    'Sri Lanka': 'Asia',
    'Sudan': 'África',
    'Suriname': 'América',
    'Sweden': 'Europa',
    'Switzerland': 'Europa',
    'Syria': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'África',
    'Thailand': 'Asia',
    'East Timor': 'Asia',
    'Togo': 'África',
    'Tonga': 'Oceanía',
    'Trinidad and Tobago': 'América',
    'Tunisia': 'África',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceanía',
    'Uganda': 'África',
    'Ukraine': 'Europa',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europa',
    'United States': 'América',
    'Uruguay': 'América',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceanía',
    'Venezuela': 'América',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'África',
    'Zimbabwe': 'África'
}
def continente(pais):
    for pais in df["country"]:
        df["continent"] = paises_por_continente
        return

In [32]:
# Función que mapea el país al continente usando el diccionario
def obtener_continente(df,pais):
        return paises_por_continente.get(pais, 'Desconocido')

In [27]:
continente(paises_lista)

In [28]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953,NaN
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331,NaN
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626,NaN
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801,NaN
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887,NaN

3. Guarda el DataFrame después de los cambios creados después de los dos
ejercicios anteriores para usarlo posteriormente.

**Ejercicios groupby**

1. ¿Cuál es la densidad de población promedio por continente?

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países
por idioma oficial y calcula la esperanza de vida promedio.

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4. ¿Cuál es el salario mínimo por continente?

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por
continente? Para solucionar este ejercicio puedes:
• Primero, necesitas calcular la tasa de impuestos total para cada continente.
La tasa de impuestos total se encuentra en la columna "total_tax_rate".
• Luego, calcula la densidad de población para cada continente. La densidad
de población se encuentra en la columna "density".
• Ahora, divide la tasa de impuestos total entre la densidad de población paraobtener la tasa de impuestos total por persona por kilómetro cuadrado.
• Encuentra el país que tiene el valor más alto en esta nueva columnacalculada.

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillopromedio por idioma oficial? Para contestar esta pregunta dabes seguir lossiguientes pasos:
• Agrupa el DataFrame por idioma oficial y calcula la media del Gasto deBolsillo en salud (
out_of_pocket_health_expenditure
) y del GPD.
• Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillopromedio

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Pararesolver el ejercicio deberás:
• Primero, calcula la tasa de maternidad promedio para cada continente.Puedes usar la columna "maternal_mortality_ratio" que representa la tasa demortalidad materna.
• Calcula la tasa de impuestos total promedio para cada continente. Puedesusar la columna "total_tax_rate" que representa la tasa de impuestos totalen cada continente.
• Luego, divide la tasa de maternidad promedio por la tasa de impuestos totalpromedio para obtener la relación entre ambas tasas.
• Encuentra el país con la tasa de maternidad más alta por punto porcentualde tasa de impuestos total.

9. Ejercicios bonus groupby:
• ¿Cuál es la tasa de natalidad máxima por área forestal por continente?Encuentra el país con la tasa de natalidad más alta por cada puntoporcentual de área forestal.
• ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa dedesempleo promedio por continente?